<!-- <app-header titulo="buttons"></app-header> -->
<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" color="primary">Back</ion-back-button>
  </ion-buttons>
  <ion-title color="primary">Buttons</ion-title>
  <ion-buttons slot="end">
    <ion-button  (click)="onClick()"color="danger">
      <ion-icon 
          [name]= "favorito ? 'heart':'heart-outline'"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
</ion-content>
