<app-header titulo="cards"></app-header>
  <ion-toolbar>
    <ion-title>Card</ion-title>
  </ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.pnghttps://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.pnghttps://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.pnghttps://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.pnghttps://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3496385/nurnberg-u2-clipart-xl.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
